*{margin:0px; padding:0px;}
html{width:100%;overflow-y: scroll;}
body{width:100%;font-size: 14px;  margin: 0px;    padding: 0px;    overflow-x: hidden;background-color:#ebe7df;}
img{ border: 0px;}
input{ vertical-align:middle; }

